body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    transition: all .5s;
}

/* ========================================================================= */
/* topNav */
/* ========================================================================= */

.topNav {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 7vh;
    width: 90vw;
    top: 0;
    display: flex;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

/* --------------------------------- */
/* navLeft */
/* --------------------------------- */

.navLeft {
    display: inline-block;
    align-items: center;
    overflow: hidden;
    width: 40%;
}

.navLeft a {
    font-family: "Ubuntu";
    display: block;
    float: left;
    text-decoration: none;
    padding: 2px 4px;
    margin: 2px 4px;
    color: #4b4848;
    transition: all .2s;
}

.navLeft a:hover {
    font-weight: bold;
    transition: all .2s;
}

@media screen and (max-width:1000px) {
    .navLeft {
        display: none;
    }
}

/* --------------------------------- */
/* menuBarIcon */
/* --------------------------------- */

.dropDownMobile {
    overflow: hidden;
}

.menuBarIcon {
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 25%;
    padding: 0 12px;
}

@media screen and (max-width:1000px) {
    .menuBarIcon {
        display: inline-block;
        cursor: pointer;
    }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: #4b4848;
    margin: 6px 0;
    transition: 0.4s;
}
  
.XmenuBarIcon .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}
  
.XmenuBarIcon .bar2 {
    opacity: 0;
}

.XmenuBarIcon .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}

.dorpDownContent {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    left: 0;
    width: 100%;
    animation: fade;
}

.dorpDownContent a {
    text-align: left;
    font-size: 30px;
    margin: 5% 80% 5% 5%;
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    font-family: "Ubuntu";
    padding: 8px 4px;
    color: #4b4848;
}

.dorpDownContent.show {
    display: block;
}

/* --------------------------------- */
/* logo */
/* --------------------------------- */

.logo {
    display: inline-block;
    margin: 0 auto;
}

.logo img {
    display: block;
    margin: 0 auto;
    padding: 0 auto;
    width: 40%;
}

@media screen and (max-width:1000px) {
    .logo img {
        width: 60%;
    }
}

/* --------------------------------- */
/* socialMedia */
/* --------------------------------- */

.socialMedia {
    display: inline-block;
    align-items: center;
    justify-content: right;
    width: 40%;
}

.socialMedia a {
    display: block;
    float: right;
    padding: 1px 2px;
    margin: 1px 2px;
}

.socialMedia a img {
    width: 25px;
    transition: all .2s;
}

.socialMedia a img:hover {
    width: 30px;
    transition: all .2s;
}


@media screen and (max-width:1000px) {
    .socialMedia a img {
        width: 35px;
    }
    .socialMedia a img:hover {
        width: 40px;
    }
}


/* ========================================================================= */
/* SlideShow */
/* ========================================================================= */

.slideShowContainer {
    position: relative;
    margin: 0 auto;
}

.sliderSlides {
    width: 100%;
    padding-top: 56.3%;
}

.slideShowImages {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    width: 100%;
    opacity: 0;
}

.slideShowImages.active {
    opacity: 1;
}

/* button(s) */

.button {
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    background-color: rgba(75, 72, 72, 0.3);
    height: 100%;
    top: 0;
    padding: 0 3%;
    border-width: 0;
    transition: all .5s;
}

.prevButton {
    left: 0;
}

.nextButton {
    right: 0;
}

.button:hover {
    transition: all .5s;
    font-size: xx-large;
    cursor: pointer;
    color: white;    
    padding: 0 4%;
    background-color: rgba(256, 256, 256, 0.1);
    border-width: 0;
}

/* dots */

.dots {
    position: absolute;
    display: block;
    bottom: 3%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1px 10px;
    border-radius: 20px;
    width: fit-content;
    background-color: rgba(256, 256, 256, 0.4);
}

.dot {
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 4px 2px;
    background-color: rgba(75, 72, 72, 0.3);
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: rgba(75, 72, 72, 0.5);
}

.activeDot {
    background-color: rgba(75, 72, 72, 0.7);
}

/* ========================================================================= */
/* bottomNav */
/* ========================================================================= */

.bottomNav {
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#creator {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: hwb(0 63% 35%);
    font-size: 10px;
}
