body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ========================================================================= */
/* topNav */
/* ========================================================================= */

.navbar {
    display: flex;
    font-family: ubuntu;
    height: 6vi;
    font-size: 1vi;
    padding: 0 30px;
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}

.link a {
    text-decoration: none;
    margin: 5px;
    padding: 10px 15px;
    color: #4b4848;
    transition: all .3s;
}

.dropDownMenu {
    position: absolute;
    display: block;
    visibility: hidden; 
    opacity: 0;
    z-index: 5;
    font-family: ubuntu;
    font-size: 2.5vi;
    background-color: white;
    transition: all .3s;
    width: 100%;
}

.dropDownMenuLink {
    display: flex;
    padding: 10px 30px;
    flex-direction: column;
    align-items: flex-start;
}

.dropDownMenuLink a {
    display: block;
    text-decoration: none;
    padding: 10px 10px;
    color: #4b4848;
}

.menuicon {
    display: none;
}

#fixWidthForMenuicon {
    display: none;
    align-items: center;
    width: 30%;
}

.bar {
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: #4b4848;
    margin: 3px 0;
    transition: 0.4s;
}

.xmenu .bar:nth-child(1) {
    transform: translate(0, 10px) rotate(-45deg);
}

.xmenu .bar:nth-child(2) {
    visibility: hidden;
    opacity: 0;
}

.xmenu .bar:nth-child(3) {
    transform: translate(0, -10px) rotate(45deg);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.logo img {
    width: 200px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.socialmedia img {
    margin: 3px 6px;
    padding: 4px 4px;
    width: 30px;
    transition: all .3s;
}

@media screen and (min-width:1000px) {
    .link a:hover {
        color: rgb(33, 33, 33);
        font-size: 1.1vi;
        transition: all .3s;
        background-color: whitesmoke;
        border-radius: .5vi;
    }
    .socialmedia img:hover {
        width: 35px;
        transition: all .3s;
        background-color: whitesmoke;
        border-radius: .5vi;
    }
}

@media screen and (max-width:1000px) {
    .navbar {
        height: 12vi;
    }
    .link {
        display: none;
    }
    #fixWidthForMenuicon {
        display: flex;
    }
    .menuicon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: fit-content;
        padding: 5px;
        cursor: pointer;
    }
    .logo img {
        width: 25vi;
    }
    .socialmedia img {
        width: 4vi;
        margin: 1px 1px;
        padding: 2px 2px;
    }
}

/* ========================================================================= */
/* SlideShow */
/* ========================================================================= */

.slideShowContainer {
    position: relative;
    margin: 0 auto;
}

.sliderSlides {
    width: 100%;
    padding-top: 56.3%;
}

.slideShowImages {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.slideShowImages.active {
    opacity: 1;
    visibility: visible;
}

/* infBox */

.infBox {
    color: #4b4848;
    position: absolute;
    height: 60%;
    width: 25%;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 20%;
    font-family: helvetica;
    transition: 1.3s;
    visibility: hidden;
    opacity: 0;
}

.infBox.odd {
    right: 0;
}

.infBox.even {
    left: 0;
}

.infBox.odd.active{
    right: 10%;
}

.infBox.even.active {
    left: 10%;
}

.infBox.active {
    visibility: visible;
    opacity: 1;
    transition: 1.3s;
}

.infBoxTitle {
    font-size: 4vi;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 70%;
    height: 10%;
    top: 10%;
    left: 20%;
    font-weight: bolder;
}

.infBoxSubTitle {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    width: 70%;
    height: 10%;
    top: 20%;
    left: 20%;
    font-weight: lighter;
    font-size: 2.5vi;
}

.infBoxVertical {
    position: absolute;
    display: flex;
    justify-content: space-between;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    top: 11%;
    left: 10%;
    width: 10%;
    height: 17.5%;
    font-size: 1vb;
}

.infBoxInfo {
    position: absolute;
    bottom: 10%;
    font-size: 1.5vi;
    left: 15%;
}

.infBoxInfo p, .infBoxInfo b {
    margin: 0;
    padding: 0;
}

/* button(s) */

.button {
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    background-color: rgba(75, 72, 72, 0.3);
    height: 100%;
    top: 0;
    padding: 0 3%;
    border-width: 0;
    transition: all .5s;
}

.prevButton {
    left: 0;
}

.nextButton {
    right: 0;
}

.button:hover, .button:active {
    transition: all .5s;
    font-size: xx-large;
    cursor: pointer;
    color: white;    
    padding: 0 4%;
    background-color: rgba(256, 256, 256, 0.1);
    border-width: 0;
}

/* dots */

.dots {
    position: absolute;
    display: flex;
    bottom: 3vi;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1px 10px;
    border-radius: 20px;
    width: fit-content;
    background-color: rgba(256, 256, 256, 0.4);
}

.dot {
    display: inline-block;
    align-items: center;
    cursor: pointer;
    height: 1vi;
    width: 1vi;
    margin: 0.5vi 0.2vi;
    background-color: rgba(75, 72, 72, 0.3);
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: rgba(75, 72, 72, 0.5);
}

.activeDot {
    background-color: rgba(75, 72, 72, 0.7);
}


/* ========================================================================= */
/* Projects */
/* ========================================================================= */

.projects {
    color: #4b4848;
    font-size: 2vi;
    font-family: helvetica, sans-serif;
    padding: 2% 0%;
}

.projectsSlide {
    display: flex;
    width: 100%;
    margin: 2.5% 0;
}

.rightChild {
    width: 65%;
    margin: 0 2.5%;
}

.leftChild {
    width: 27.5%;
    margin-left: 2.5%;
}

.projectInfoBox {
    background-color: #f4f4f4;
    padding: 0 2.5vi;
    text-align: justify;
    font-size: 1.5vi;
}

.projectInfoBox p, .projectInfoBox b, .projectInfoBox h1 {
    margin: 0;
    padding: 0;
    padding-top: 2.5%;
}

.projectsRednder {
    display: flex;
    margin: 2.5% 2.5%;
}

.Render {
    display: flex;
    justify-content: center;
    width: 25%;
}

.Render img {
    display: flex;
    object-fit: cover;
    width: 70%;
    aspect-ratio: 1;
    transition: all 1s;
}

.Render img:hover, .Render img:after {
    transition: all 1s;
    aspect-ratio: 3/2;
    width: 100%;
    filter: brightness(50%);
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s;
    transition: all 0.3s;
}

@keyframes zoomout {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes zoom {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
.modal img {
    width: 50%;
    object-fit: cover;
    transition: all 0.3s;
}

.modalCloseButton {
    display: block;
    position: fixed;
    cursor: pointer;
    top: 2%;
    right: 1%;
    font-family: Helvetica;
    color: white;
}

.modalCloseButton .bar1, .modalCloseButton .bar3 {
    background-color: white;
}

.modalCloseButton .bar1 {
    transform: rotate(-45deg);
}

.modalCloseButton .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}

.modalButton {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    border-width: 0;
    cursor: pointer;
    color: white;
    font-size: 3vi;
    height: 10vw;
    width: 10vw;
}

/* ========================================================================= */
/* bottomNav */
/* ========================================================================= */

.bottomNav {
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#creator {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: hwb(0 63% 35%);
    font-size: 10px;
}

